header{
    font-family: 'Architects Daughter', cursive;
    background-color:#333;
    color:white;
    padding:20px 0;
    text-align: center;
}
h1, h2, h3{
    font-family: 'Architects Daughter', cursive;
}

nav ul{
background-color: #444;
list-style-type: none;
padding: 10px 0;
text-align:center;
}
body {
    font-family: 'Architects Daughter', cursive;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: #333;
    background: #fff;

}
nav li{
    display:inline-block;
    margin-right: 10px;
}

nav a{
    padding:8px 15px;
    display: block;
    text-decoration: none;
    color:white;
    background-color: #0056b3;
    border-radius: 5px;
    font-weight: bold;
}

nav a:hover{
    background-color:#004494;
}

section{
    border-bottom: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    flex: 1 1 200px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#About img{
    display: block;
    margin: 0 auto;
    width: 250px;
}

h2{
    color: #333;
}

footer{
    background-color: #222;
    color:#ccc;
    text-align: center;
    padding: 10px 0;
}
